/amidilib.creator.user

src/cov-int/

cov-int/

bin/

src/\.sconsign\.dblite

amidilib\.tgz

*.o

minimal/\.sconsign\.dblite
minimal/\nktlib/\src/\*
minimal/\nktlib/\include/\*
minimal/\nktlib/\lib/\*

